<h1>Личный кабинет пользователя</h1>
<p><label>ФИО:</label> <span id="cabinet_name"></span> <a href="#" id="info_edit"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
<p><label>E-mail:</label> <span id="cabinet_email"></span></p>
<p><label>Баланс:</label> <span id="cabinet_balance"></span></p>
