<nav class="navbar navbar-expand-sm navbar-light bg-secondary">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Навигация">
		<span class="navbar-toggler-icon"></span>
	</button>

	<a class="navbar-brand" href="#">СуперТелеком</a>

	<div class="collapse navbar-collapse" id="nav-content">   
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="#" id="cabinet">Личный кабинет</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" id="history">История баланса</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/">Выйти</a>
			</li>
		</ul>
	</div>
</nav>
<div class="row">
	<div class="col-12 logged-content">
	</div>
</div>
