<form class="form-signin" method="post">
	<h1 class="form-signin-heading">Авторизация</h1>
	<label for="inputEmail" class="sr-only">Email</label>
	<input type="email" name="email" id="inputEmail" class="form-control" placeholder="Адрес email" required autofocus value="">
	<label for="inputPassword" class="sr-only">Пароль</label>
	<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
	<div class="alert alert-danger signin-error" style="display: none;" role="alert"></div>
	<button name="login" class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
</form>
